display_label=false
display_icon=true
display_power=false
display_percentage=false
display_bar=false
display_time=false
tooltip_display_percentage=true
tooltip_display_time=false
low_percentage=30
critical_percentage=20
action_on_low=1
action_on_critical=1
hide_when_full=0
colorA=rgb(119,118,123)
colorH=rgb(143,240,164)
colorL=rgb(248,228,92)
colorC=rgb(237,51,59)
command_on_low=
command_on_critical=
